{
  "name": "jdbc-sink-mysql",
  "config": {
    "connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
    "tasks.max": 1,
    "table.name.format": "${topic}",
    "topics.regex": "dbname.public.*",
    "connection.url": "jdbc:mysql://username:pass@hostname:port/dbname?requireSSL=true",
    "auto.create": "false",
    "pk.fields": "id",
    "pk.mode": "record_value",
    "insert.mode": "upsert",
    "transforms": "extractTableName,unwrap",
    "transforms.extractTableName.type": "org.apache.kafka.connect.transforms.RegexRouter",
    "transforms.extractTableName.regex": "dbname\\.public\\.(.*)",
    "transforms.extractTableName.replacement": "$1",
    "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState",
    "transforms.unwrap.drop.tombstones": "false"
  }
}
